{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% if object %}Modifier{% else %}Nouveau{% endif %} projet{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projets</a></li>
<li class="breadcrumb-item active">{% if object %}Modifier{% else %}Nouveau{% endif %}</li>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1><i class="bi bi-kanban me-2 text-orange"></i>{% if object %}Modifier {{ object.name }}{% else %}Nouveau projet{% endif %}</h1>
</div>
<div class="row g-3">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% crispy form %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
