Django>=5.1,<5.2
djangorestframework>=3.15
drf-spectacular>=0.27
django-filter>=24.0
Pillow>=10.0
psycopg2-binary>=2.9
python-dotenv>=1.0
django-crispy-forms>=2.3
crispy-bootstrap5>=2024.2
openpyxl>=3.1
reportlab>=4.2
whitenoise>=6.7
celery>=5.4
redis>=5.0
django-celery-beat>=2.6
django-allauth>=65.0
qrcode>=7.4
django-import-export>=4.1
